.first{
    background-color: #3E2C41;
    height: 70vh;
}
.first > img{
    height: 70vh;
    width: 100%;
    opacity: 0.55;
}
.inner{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    position: relative;
    bottom: 45vh;
    color: aliceblue;
    font-weight: 900;
}
.ordinary{
    padding-top: 20px;
    font-size: 19px;
}
.button{
    border-radius: 50px;
    font-size: 20px;
    width: 25vh;
    background-color: #6E85B2;
}
.second{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f3f5fa;
    height: 50vh;
}
.pads{
    width: 15vh;
    height: 15vh;
    margin: 10px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #c2d6ff;
}